@import "tailwindcss";

button {
    cursor: pointer;
}

@theme {
    --breakpoint-sm: 28rem;
    --animate-fadeInDown: fadeInDown 0.4s ease-out forwards;

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-20px)
        }

        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    touch-action: manipulation;
    text-overflow: ellipsis;
    background-image: url('/images/icon/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 18px;
    flex-shrink: 1;
    align-items: center;
    gap: 1rem;
    padding-inline: 0.5rem 2rem;
    font-size: .875rem;
    display: inline-flex;
    position: relative
}

.hide-mz-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.show-mz-scroll:hover {
    scrollbar-width: thin;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.show-scrollbar-on-hover:hover::-webkit-scrollbar {
    display: block;
    height: 4px;
}

.show-scrollbar-on-hover:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}